:root {
    --text-color:#000000;
    --card-front-color: rgb(246, 138, 183);
    --card-back-color: rgb(206, 40, 120);
}


@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    background: url(img/detailed_hand_painted_pink_watercolour_background_0509.jpg);
    font-family: "Monteserrat", sans-serif;
}

footer {
    background-color: rgb(255, 236, 244);
    color: var(--card-back-color);
    bottom: 0;
    position: fixed;
    width: 100%;
}

footer p {
    text-align: left;
    font-size: 0.9rem;
    height: 1rem;
    margin-top: 0.4;

}

#container {
    display: flex;
}

.card:hover .card__content{
    transform: rotateY(180deg);
}

.card__content {
    margin: 1rem 1rem;
    background-color: var(--card-front-color);
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 400ms ease-in-out;
}

.card__content p {
    margin-top: 1rem;
    padding: 1rem;
    margin-top: 2rem;
}

.card__content h3{
    color: var(--text-color);
    border: 1px solid var(--text-color);
    text-align: left;
    padding: 0.6 rem;
    margin: 0.5 rem;
    background-color: rgb(206, 40, 120);
    position: absolute;
    border-radius: 0.6rem;
    font-size: 2vw;
    backface-visibility: hidden;
}

.card__content__question p,
.card__content__answer p {
    color:var(--text-color);
    font-weight: 500;
}

.card__content__answer,
.card__content__question {
    backface-visibility: hidden;
    height: 100%;
    width: 100%;
}

.card__content__answer {
    transform: rotateY(180deg)
}
