body {
    background-color: rgb(225, 147, 181);
}

footer {
    background-color: lightpink;
    color: darkslateblue;
    bottom: 0;
    text-align: center;
    position: relative;
    width: auto;
}