body {
    background-color: rgb(225, 147, 181);
}

footer {
    background-color: lightpink;
    color: darkslateblue;
    bottom: 0;
    position: fixed;
    width: auto;
}

footer p {
    text-align: center;
    font-size: 0.5rem;

}